{% extends 'movement/base.html' %}
{% block content %}
<body class="buddy">
    <main class="delete-page">
        <div class="row"><div class="col" style="font-family:impact;color:#c73818;text-align:center;"><h1>Delete</h1></div></div>


        <div >
            <form class="form-issue" style="margin-top:6%;" method="POST" action="">
            <a href="{{request.META.HTTP_REFERER}}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                viewBox="0 0 32 32">
                <title>arrow-left</title>
                <path
                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                </path>
            </svg>
        </a>
                    {% csrf_token %}
                <div class="form__group">
                    <p class="counter"><span style="color:#b50000;">ნამდვილად გსურთ </span>"{{obj}}"- ს <span style="color:#b50000;">წაშლა?</span></p>
                </div>


                <div class="for__group">
                    <a class="btn btn-secondary" id="no_btn" href="{{request.META.HTTP_REFERER}}">არა</a>
                    <input class="btn btn-warning"  id="delete_btn" type="submit" value="წაშლა" />
                </div>

            </form>
        </div>
    </main>
</body>

{% endblock content %}