{% extends 'movement/base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add">
</form>


<div class="gallery">
    {% load static %}
    <table class="table table-responsive-xl">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="table-bordered">
            {% for image in images %}
                <tr>
                    <td>
                        <p>{{image.id}}</p>
                    </td>
                    <td>
                        <img class="imagia" src="{% static 'images' %}/{{image.images}}" alt="{{ image.id }}">

                    </td>
                    <td>
                        <a href="{% url 'update-gallery' image.id %}">Edit</a>
                    </td>
                    <td>
                        <a href="{% url 'delete-gallery' image.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>


</div>


{% endblock content %}