<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Argo Conditioning</title>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">
    {% load static %}
    <!-- https://fonts.google.com/specimen/Kumbh+Sans -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">  <!-- https://fontawesome.com/-->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">       <!-- https://dimsemenov.com/plugins/magnific-popup/ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">        <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'slick/slick.min.css' %}">          <!-- https://kenwheeler.github.io/slick/ -->
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-upright.css' %}">



</head>
<body>    
    <div class="container-fluid">
        <div class="row">
            <!-- Leftside bar -->
            <div id="tm-sidebar" class="tm-sidebar"> 
                <nav class="tm-nav">
                    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div>
                        <div class="tm-brand-box">
                            <a href="{% url 'main' %}" class="logo">
                                <img src="{% static 'img/vardos-logo-white.png' %}"  style="width: 450px;height: auto;" alt="">
                            </a>
                        </div>                
                        <ul id="tm-main-nav">
                            <li class="nav-item">                                
                                <a href="#home" class="nav-link current">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-home nav-icon"></i>
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#gallery" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-images nav-icon"></i>
                                    Gallery
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#about" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-user-friends nav-icon"></i>
                                    About
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#contact" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-envelope nav-icon"></i>
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                    <footer class="mb-3 tm-mt-100">
                    </footer>
                </nav>
            </div>
            
            <div class="tm-main">
                <!-- Home section -->
                <div class="tm-section-wrap">
                    <div class="tm-parallax" data-parallax="scroll" data-image-src="{% static 'images' %}/{{side_image_1.images}}"></div>
                    <section id="home" class="tm-section">
                        <h2 class="tm-text-primary">{{home.title}}</h2>
                        <hr class="mb-5">
                        <div class="row">
                            <div class="col-lg-6 tm-col-home mb-4">
                                <div class="tm-text-container">
                                    <div class="tm-icon-container mb-5 mr-0 ml-auto">
                                        <i class="fas fa-satellite-dish fa-4x tm-text-primary"></i>
                                    </div>
                                    <p>
                                        {{home.text1}}
                                    </p>
                                    <p>
                                        {{home.text2}}
                                    </p>
                                </div>                                
                            </div>
                            <div class="col-lg-6 tm-col-home mb-4">
                                <div class="tm-text-container">
                                    <div class="tm-icon-container mb-5 mr-0 ml-auto">
                                        <i class="fas fa-broadcast-tower fa-4x tm-text-primary"></i>
                                    </div>
                                    <p>
                                        {{home.text3}}
                                    </p>
                                    <div class="text-right">
                                        <a href="#gallery" class="btn btn-primary tm-btn-next">Next Page</a>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <hr class="tm-hr-short mb-5">
                        <div class="row tm-row-home">                            
                            <div class="tm-col-home tm-col-home-l">
                                {% for se in services %}
                                <div class="media mb-4">
                                    <i class="fas fa-scroll fa-4x tm-post-icon tm-text-primary"></i>
                                    <div class="media-body">
                                        <a href="#" class="d-block mb-2 tm-text-primary tm-post-link">{{ se.title }}</a>
                                        <p> {{ se.text }} </p>
                                    </div>                                    
                                </div>
                                {% endfor %}
                            </div>
                            <div class="tm-col-home mr-0 ml-auto">
                                <div class="tm-img-home-container"></div>                                
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Gallery section -->
                <div class="tm-section-wrap">
                    <div class="tm-parallax" data-parallax="scroll" data-image-src="{% static 'images' %}/{{side_image_2.images}}"></div>
                    <section id="gallery" class="tm-section">
                        <h2 class="tm-text-primary">Gallery</h2>
                        <hr class="mb-5">
                        <ul class="tm-gallery-links">
                            <li>
                                <a href="javascript:void(0);" class="active tm-gallery-link" data-filter="*">
                                    <i class="fas fa-layer-group tm-gallery-link-icon"></i>
                                    All
                                </a>
                            </li>
                        </ul>
                        <div class="tm-gallery">
                            {% load static %}
                            {% for image in gallery %}
                            <figure class="effect-honey tm-gallery-item portrait">
                                <img src="{% static 'images' %}/{{image.images}}" alt="Image"/>
                                <figcaption>
                                    <h2><i>Argo</i></h2>
                                    <a href="{% static 'images' %}/{{image.images}}">View more</a>
                                </figcaption>			
                            </figure>
                            {% endfor %}
                        </div>
                    </section>
                </div>


                <!-- About section -->
                <div class="tm-section-wrap">
                    <div class="tm-parallax" data-parallax="scroll" data-image-src="{% static 'images' %}/{{side_image_3.images}}"></div>
                    <section id="about" class="tm-section">
                        <h2 class="tm-text-primary">About Argo</h2>
                        <hr class="mb-5">
                        
                        <div class="row" style="margin:20px 0px;">
                            {% for ab in abouts %}
                            <div class="tm-col-about tm-col-about-l">

                                <p class="mb-4">
                                    {{ab.text}}
                                </p>

                            </div>
                            {% endfor %}
<!--                            <div class="tm-col-about tm-col-about-r">-->
<!--                                <p>-->
<!--                                    Duis fringilla eget purus luctus sodales. Sed auctor odio quis ligula dignissim efficitur vitae vitae quam.-->
<!--                                </p>-->
<!--                            </div>-->
                        </div>
                    </section>
                </div>

                <!-- Contact section -->
                <div class="tm-section-wrap">
                    <div class="tm-parallax" data-parallax="scroll" data-image-src="{% static 'images' %}/{{side_image_4.images}}"></div>
                    <div id="contact" class="tm-section">
                        <h2 class="tm-text-primary">{{contact.title}}</h2>
                        <hr class="mb-5">
                        <div class="row">
                            <div class="col-xl-6 tm-contact-col-l mb-4">
                                <form id="contact-form" action="{% url 'main' %}" method="POST" class="tm-contact-form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control rounded-0" placeholder="Name" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control rounded-0" placeholder="Email" required />
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="contact-select" name="subject">
                                            <option value="-">Subject</option>
                                            <option value="Installation">Installation</option>
                                            <option value="Service And Maintenance">Service And Maintenance</option>
                                            <option value="Commercial">Commercial</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea rows="8" name="message" class="form-control rounded-0" placeholder="Message" required=></textarea>
                                    </div>
            
                                    <div class="form-group tm-text-right">
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-6 tm-contact-col-r">
                                <!-- Map -->
                                <div class="mapouter mb-4">
                                    <div class="gmap_canvas">
                                        <iframe width="100%" height="520" id="gmap_canvas"
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18418.21420052927!2d-73.98044645596346!3d40.60536211561156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c244ee2225028b%3A0x200b9f644d526415!2s1802%20Ocean%20Pkwy%20Apt%20F18%2C%20Brooklyn%2C%20NY%2011223%2C%20USA!5e0!3m2!1sen!2sge!4v1684054524700!5m2!1sen!2sge"                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                    </div>
                                </div>
                                <!-- Address -->
                                <address class="mb-4">
                                    {{contact.address}}
                                </address>
            
                                <!-- Links -->
                                <ul class="tm-contact-links mb-4">
                                    <li class="mb-2">
                                        <a href="tel:848-444-0036">
                                            <i class="fas fa-phone mr-2 tm-contact-link-icon"></i>
                                            Tel: {{contact.mobile_number}}
                                        </a>
                                    </li>
                                    <li>

                                        <a href="whatsapp://send?phone=+1-{{contact.mobile_number}}">
                                            <i class="fab fa-whatsapp mr-2 tm-contact-link-icon"></i>
                                            Chat on WhatsApp</a>
                                    </li>
                                    <li>
                                        <a href="mailto:{{contact.email}}">
                                            <i class="fas fa-at mr-2 tm-contact-link-icon"></i>
                                            Email: {{contact.email}}
                                        </a>
                                    </li>
                                </ul>
                                <ul class="tm-contact-social">
                                    <li><a href="https://fb.com/templatemo" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Copyright -->
                <div class="tm-section-wrap tm-copyright row">
                    <div class="col-12">
                    </div>
                </div>
            </div> <!-- .tm-main -->                      
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>          <!-- https://jquery.com/ -->
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>  <!-- https://github.com/ChrisWojcik/single-page-nav -->
    <script src="{% static 'js/parallax/parallax.min.js' %}"></script>     <!-- https://pixelcog.github.io/parallax.js/ -->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>     <!-- https://imagesloaded.desandro.com/ -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>          <!-- https://isotope.metafizzy.co/ -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> <!-- https://dimsemenov.com/plugins/magnific-popup/ -->
    <script src="{% static 'slick/slick.min.js' %}"></script>              <!-- https://kenwheeler.github.io/slick/ -->
    <script src="{% static 'js/templatemo-script.js' %}"></script>
</body>
</html> 